.button {
    background: #3e4142 #36383a;
    border-color: #181a1b;
    color: #b4b4b4;
}

.button:hover {
    background: #434647 #393b3c;
    border-color: #181a1b;
    color: #d4d4d4;
}

.button:down {
    background: #2f3132 #27292a;
    border-color: #181a1b;
    color: #d4d4d4;
}

