.button {
    background: #3e4142 #36383a;
    border-color: #181a1b;
    color: #b4b4b4;
}

.button:hover {
    background: #434647 #393b3c;
    border-color: #181a1b;
    color: #d4d4d4;
}

.button:down {
    background: #2f3132 #27292a;
    border-color: #181a1b;
    color: #d4d4d4;
}

.button:disabled {
    color: #595959;
    cursor: default;
}

/************************************************************************
** BUTTON BARS
*************************************************************************/
.button-bar {
    spacing: 0;
}

.button-bar .button {
    border-radius: 0;
    border-color: #181a1b;
}

.button-bar .button:down {
    background-color: #415982;
    color: white;
}

.horizontal-button-bar .button {
    border-left-size: 0;
}

.horizontal-button-bar .button.first {
    border-left-size: 1;
}

.vertical-button-bar .button {
    border-top-size: 0;
}

.vertical-button-bar .button.first {
    border-top-size: 1;
}

/************************************************************************
** BUTTON BAR - LEFT MENU ALTERNATE
*************************************************************************/
.button-bar.left-menu {
    background-color: #3D3F41;
    border-right: 1px solid #181a1b;
}

.button-bar.left-menu .button {
    background-color: #3D3F41;
    border-left:  1px solid #3D3F41;
}

.button-bar.left-menu.with-bottom-button .button.last {
    border-top:  1px solid #181a1b;
    border-bottom:  1px solid #3D3F41;
}

.button-bar.left-menu .button:hover {
    background-color: #434647;
}

.button-bar.left-menu .button:down {
    background-color: #2c2f30;
    border-right: 1px solid #2c2f30;
    
    border-top:  1px solid #2c2f30;
    border-left:  1px solid #2c2f30;
}

.button-bar.left-menu.with-bottom-button .button.last:down {
    border-top:  1px solid #181a1b;
    border-bottom:  1px solid #2c2f30;
}


/************************************************************************
** BUTTON BAR - RIGHT MENU ALTERNATE
*************************************************************************/
.button-bar.right-menu {
    background-color: #3D3F41;
    border-left: 1px solid #181a1b;
}

.button-bar.right-menu .button {
    background-color: #3D3F41;
    border-right:  1px solid #3D3F41;
}

.button-bar.right-menu.with-bottom-button .button.last {
    border-top:  1px solid #181a1b;
    border-bottom:  1px solid #3D3F41;
}

.button-bar.right-menu .button:hover {
    background-color: #434647;
}

.button-bar.right-menu .button:down {
    background-color: #2c2f30;
    border-left: 1px solid #2c2f30;
    
    border-top:  1px solid #2c2f30;
    border-right:  1px solid #2c2f30;
}

.button-bar.right-menu.with-bottom-button .button.last:down {
    border-top:  1px solid #181a1b;
    border-bottom:  1px solid #2c2f30;
}
