/************************************************************************
** LISTVIEW
*************************************************************************/
.listview .listview-contents {
    spacing: 0;
    width: 100%;
    padding: 0px;
}

.listview .itemrenderer {
    cursor: pointer;    
}

.listview .itemrenderer .label {
    color: #b4b4b4;
}

.listview .even {
    background-color: #252728;
}

.listview .even:hover {
    background-color: #2f3746;
}

.listview .odd {
    background-color: #2a2c2d;
}

.listview .odd:hover {
    background-color: #2f3746;
}

.listview .itemrenderer {
    height: auto;
    padding: 5px;
}

.listview .itemrenderer:selected {
    background-color: #415982;
    color: white;
}

.listview .itemrenderer:selected .label {
    color: white;
}

.listview .itemrenderer:disabled {
    color: #595959;
}

.listview .itemrenderer:disabled .label {
    color: #595959;
}

/************************************************************************
** LIST VIEW - LEFT MENU ALTERNATE
*************************************************************************/

.listview.left-menu {
    border: none;
    padding: 0px;
    border-radius: 0;
    background-color: #3D3F41;
    mode: mobile;
    border-right: 1px solid #181a1b;
}

.listview.left-menu .vertical-scroll .deinc, .listview.left-menu .vertical-scroll .inc {
    hidden: true;
}

.listview.left-menu .vertical-scroll {
    background-color: none;
    width: 9px;
    padding: 2px;
}

.listview.left-menu .vertical-scroll .thumb {
    background-opacity: .3;
    width: 5px;
    border-radius: 4px;
}

.listview.left-menu .listview-contents {
}
        
.listview.left-menu .even {
    background-color: #3D3F41;
    border-right: 1px solid #181a1b;
    border-bottom: 1px solid #181a1b;
    
    padding-top: 8px;
    padding-bottom: 8px;
}

.listview.left-menu .even:hover {
    background-color: #434647;
    border-right: 1px solid #181a1b;
    
    padding-top: 8px;
    padding-bottom: 8px;
}

.listview.left-menu .odd {
    background-color: #3D3F41;
    border-right: 1px solid #181a1b;
    border-bottom: 1px solid #181a1b;
    
    padding-top: 8px;
    padding-bottom: 8px;
}

.listview.left-menu .odd:hover {
    background-color: #434647;
    border-right: 1px solid #181a1b;
    
    padding-top: 8px;
    padding-bottom: 8px;
}

.listview.left-menu .itemrenderer:selected {
    background-color: #2c2f30;
    color: white;
    border-right: 1px solid #2c2f30;
}


.listview.left-menu .itemrenderer:selected .label {
    color: white;
}
    
.listview.left-menu .vertical-scroll {
    opacity: .5;
    width: 8px;
    padding: 2px;
    background-color: none;
    border: none;
}
