/************************************************************************
** LISTVIEW
*************************************************************************/
.listview {
    border: 1px solid #181a1b;
    border-radius: 1px;
    padding: 1px;
    width: auto;
    height: auto;
    background-color: #252728;
}


.listview .listview-contents {
    spacing: 0;
    width: 100%;
    padding: 0px;
}

.listview .itemrenderer {
    cursor: pointer;    
}

.listview .itemrenderer .label {
    color: #d4d4d4;
}

.listview .even {
    background-color: #252728;
}

.listview .even:hover {
    background-color: #2f3746;
}

.listview .odd {
    background-color: #2a2c2d;
}

.listview .odd:hover {
    background-color: #2f3746;
}

.listview .itemrenderer {
    height: auto;
    padding: 5px;
}

.listview .itemrenderer:selected {
    background-color: #415982;
    color: white;
}

.listview .itemrenderer:selected .label {
    color: white;
}

.listview .itemrenderer:disabled {
    color: #595959;
}

.listview .itemrenderer:disabled .label {
    color: #595959;
}
