.label, .button, .textfield, .textarea {
    color: #b4b4b4;
}

.default-background {
    background-color: #2c2f30;
}


.default-background-solid {
    background-color: #4e4e4e;
}

.modal-background {
    background-color: black;
    opacity: 0.85;
}

/************************************************************************
** LABEL
*************************************************************************/
.label {
    color: #b4b4b4;
}
    
.label:disabled {
    color: #595959;
}

/************************************************************************
** LINK
*************************************************************************/
.link {
    color: #407dbf;
}
