/************************************************************************
** MENUBAR
*************************************************************************/
.menubar {
    background-color: #3D3F41;
    padding: 5px;
    border-bottom-width: 1px;
    border-bottom-color: #181a1b;
    filter: drop-shadow(2, 45, #000000, 0.15, 6, 1, 30, 35, false);
}

.menubar-button {
    background-color: #3D3F41;
    border: none;
    color: #b4b4b4;
    vertical-align: center;
}

.menubar-button:hover {
    background-color: #415982;
    color: white;
}

.menubar-button:down {
    background-color: #393b3c;
    color: #d4d4d4;
    border: 1px solid #181a1b;
    border-bottom-width: 0px;
    border-bottom-size: 0px;
}

/************************************************************************
** MENU
*************************************************************************/
.menu {
    background-color: #393b3c;
    padding: 1px;
    border: 1px solid #181a1b;
    filter: drop-shadow(2, 45, #000000, 0.15, 6, 1, 30, 35, false);
    spacing: 0;
    width: 200px;
}

.menu.expanded {
    border-top-width: 0px;
    border-top-size: 0px;
}

.menu-filler {
    background-color: #181a1b;
    height: 1px;
}

/************************************************************************
** MENUITEMS
*************************************************************************/
.menuitem {
    background-color: #393b3c;
    width: 100%;
    padding: 5px;
    cursor: pointer;
}

.menuitem-label, .menuitem-checkbox, .menuitem-optionbox, .menuitem-shortcut-label {
    vertical-align: center;
}

.menuitem-shortcut-label {
    text-align: right;
    vertical-align: center;
    horizontal-align: right;
}

.menuitem-icon {
    vertical-align: center;
}

.menuitem:hover, .menuitem:selected {
    background-color: #415982;
}

.menuitem .label:hover, .menuitem .label:selected {
    color: white;
}

.menuitem-expandable {
    resource: "haxeui-core/styles/dark/right_arrow.png";
    vertical-align: "center";
}

.menuseparator {
    height: 1px;
    width: 100%;
    background-color: #252728;
    horizontal-align: "center";
}
