/************************************************************************
** SCROLL
*************************************************************************/
.scroll {
    background-color: #2c2f30;
}

.scroll .button {
    border-radius: 0;
    border: none;
    background-color: #2c2f30;
    padding: 0;
    filter: none;
}

.scroll .button:hover {
    background-color: #45484a;
}

.scroll .button:down {
    background-color: #45484a;
    filter: none;
}

.scroll .deinc {
    height: 17px;
    width: 17px;
    opacity: 1;
}

.scroll deinc:disabled {
    opacity: 0.5;
}

.scroll deinc:down {
}

.scroll .inc {
    height: 17px;
    width: 17px;
    opacity: 1;
}

.scroll .inc:disabled {
    opacity: 0.5;
}

.scroll .inc:down {
}

.scroll .thumb {
    background-color: #3d4042;
}

.scroll .thumb:hover {
    background-color: #45484a;
}

.scroll .thumb:down {
    background-color: #45484a;
}

.scroll .thumb:disabled {
    background-color: #333738;
}

/************************************************************************
** VERTICAL SCROLL
*************************************************************************/
.vertical-scroll .deinc {
    icon: "haxeui-core/styles/dark/up_arrow.png";
}

.vertical-scroll .deinc:down {
    icon: "haxeui-core/styles/dark/up_arrow_white.png";
}

.vertical-scroll .inc {
    icon: "haxeui-core/styles/dark/down_arrow.png";
}

.vertical-scroll .inc:down {
    icon: "haxeui-core/styles/dark/down_arrow_white.png";
}

/************************************************************************
** HORIZONTAL SCROLL
*************************************************************************/
.horizontal-scroll {
    height: 17px;
}

.horizontal-scroll .thumb {
    width: 17px;
    height: 17px;
}

.horizontal-scroll .deinc {
    icon: "haxeui-core/styles/dark/left_arrow.png";
}

.horizontal-scroll .deinc:down {
    icon: "haxeui-core/styles/dark/left_arrow_white.png";
}

.horizontal-scroll .inc {
    icon: "haxeui-core/styles/dark/right_arrow.png";
}

.horizontal-scroll .inc:down {
    icon: "haxeui-core/styles/dark/right_arrow_white.png";
}

/************************************************************************
** MOBILE VARIANTS
*************************************************************************/
.horizontal-scroll:mobile {
    background-color: none;
}

.horizontal-scroll:mobile .thumb {
    height: 4px;
    border-radius: 4px;
}

.vertical-scroll:mobile {
    background-color: none;
}

.vertical-scroll:mobile .thumb {
    width: 4px;
    border-radius: 4px;
}
