.numberstepper {
    padding: 1px;
    spacing: 0;
}

.stepper {
    spacing: 0;
}

.stepper-button {
    padding: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 0;
    border: none;
    background-color: #2c2f30;
    opacity: 1;
}

.stepper-button:hover {
    background-color: #45484a;
}

.stepper-button:down {
    background-color: #45484a;
}

.stepper-button:disabled {
    opacity: 0.5;
    background-color: #333738;
}

.stepper-inc {
    icon: "haxeui-core/styles/dark/up_arrow.png";
}

.stepper-deinc {
    icon: "haxeui-core/styles/dark/down_arrow.png";
}

.stepper-inc:down {
    icon: "haxeui-core/styles/dark/up_arrow_white.png";
}

.stepper-deinc:down {
    icon: "haxeui-core/styles/dark/down_arrow_white.png";
}

.stepper-textfield, .stepper-textfield:active {
    border: none;
    width: 100%;
    padding: 4px;
    padding-top: 5px;
    padding-bottom: 3px;
    vertical-align: center;
    filter: none;
    background-color: #252728;
}

.stepper-textfield:disabled {
    background-color: #2c2f30;
}

.stepper-step {
    height: 100%;
}

.stepper-step .stepper-inc, .stepper-step .stepper-deinc {
    height: 50%;
}

.number-stepper {
    initial-width: 60px;
}