/************************************************************************
** TABBAR (TOP)
*************************************************************************/
.tabbar {
    padding-left: 0px;
    padding-right: 0px;
    height: auto;
    width: auto;
    border-bottom-width: 1px;
    border-bottom-color: #181a1b;
    border-top-width: 0px;
    clip: true;
}

.tabbar > .tabbar-contents {
    border: none;
    border-bottom-width: 1px;
    border-bottom-color: #181a1b;
    spacing: 0;
}

.tabbar-button {
    border-radius: 0px;
    background: #313335 #313335 vertical;
    padding: 6px 8px;
    vertical-align: bottom;
    border-left-width: 0px;
    color: #b4b4b4;
}

.tabbar-button.first {
    border-left-width: 1px;
}

.tabbar-button:hover {
    background: #393b3c #393b3c vertical;
}

.tabbar-button:down {
    border: 1px solid #181a1b;
}

.tabbar-button-selected {
    border-radius: 0px;

    border-bottom-width: 1px;
    border-bottom-color: #3D3F41;
    background-color: #3D3F41;
    border-left-width: 0px;
    color: #d4d4d4;
}


.tabbar-button-selected.first {
    border-left-width: 1px;
}

/************************************************************************
** TABBAR (BOTTOM)
*************************************************************************/
.tabbar:bottom {
    padding-left: 0px;
    padding-right: 0px;
    height: auto;
    width: auto;
    border-bottom-width: 0px;
    border-top-width: 1px;
    border-top-color: #181a1b;
    clip: true;
}

.tabbar:bottom .tabbar-contents {
    border: none;
    border-bottom-width: 0px;
    border-top-width: 1px;
    border-top-color: #181a1b;
    spacing: 0;
}

.tabbar-button:bottom {
    vertical-align: top;
    border-left-width: 0px;
}

.tabbar-button.first {
    border-left-width: 1px;
}

.tabbar-button-selected:bottom {
    border-radius: 0px;

    border: 1px solid #181a1b;
    border-top-width: 1px;
    border-top-color: #3D3F41;
    background-color: #3D3F41;
    border-left-width: 0px;
}

.tabbar-button-selected.first {
    border-left-width: 1px;
}

/************************************************************************
** TABVIEW
*************************************************************************/

.tabview > .tabview-content {
    border: 1px solid #181a1b;
    background-color: #3D3F41;
}


.tabbar-scroll-left {
    icon: "haxeui-core/styles/dark/left_arrow.png";
    border-radius: 0;
    padding: 5px;
}

.tabbar-scroll-right {
    icon: "haxeui-core/styles/dark/right_arrow.png";
    border-radius: 0;
    padding: 5px;
}

.tabbar-button .tab-close-button {
    resource: "haxeui-core/styles/dark/tiny-close-button.png";
}
