/************************************************************************
** TEXT FIELD
*************************************************************************/
.textfield {
    background-color: #252728;
    color: #b4b4b4;
    border: 1px solid #181a1b;
    border-radius: 2px;
    padding: 5px 5px;
    filter: drop-shadow(1, 45, #000000, 0.2, 2, 2, 1, 3, true);
    initial-width: 150px;
    height: auto;
    spacing: 5px;
    icon-position: right;
}

.textfield:active {
    border: 1px solid #415982;
}

.textfield:empty {
    color: #444444;
}

.textfield:disabled {
    color: #595959;
    background: #2c2f30 #2c2f30 vertical;
}

/************************************************************************
** TEXT AREA
*************************************************************************/
.textarea {
    color: #b4b4b4;
    border: 1px solid #181a1b;
    border-radius: 2px;
    padding: 1px;
    filter: drop-shadow(1, 45, #000000, 0.2, 2, 2, 1, 3, true);
    background-color: #252728;
    initial-width: 150px;
    initial-height: 100px;
}

.textarea:active {
    border: 1px solid #415982;
}

.textarea:empty {
    color: #444444;
}

.textarea:disabled {
    color: #595959;
    background: #2c2f30 #2c2f30 vertical;
}
