.tooltip {
    background-color: #2c2f30;
    border: 1px solid #181a1b;
    filter: drop-shadow(1, 45, #000000, 0.05, 6, 1, 30, 35, false);
    border-radius: 2px;
    padding: 4px 5px;
    margin-left: 0px;
    margin-top: 30px;
}

.tooltip .label {
    color: #d4d4d4;
}