<?xml version="1.0" encoding="utf-8" ?>
<module id="haxeui-core" priority="-2">
    <resources>
        <resource path="/haxe/ui/_module/styles" prefix="haxeui-core/styles" />
    </resources>

    <components>
        <class name="haxe.ui.core.Component" />
        <class name="haxe.ui.core.ItemRenderer" />
        <class name="haxe.ui.core.BasicItemRenderer" />
        <class name="haxe.ui.containers.dialogs.Dialog" />
        <class package="haxe.ui.components" />
        <class package="haxe.ui.containers" />
        <class package="haxe.ui.containers.menus" />
        <class package="haxe.ui.containers.properties" />
        <class name="haxe.ui.components.Label" alias="text" />
    </components>

    <layouts>
        <class package="haxe.ui.layouts" />
    </layouts>

    <scriptlets>
        <import class="haxe.ui.core.Component" />
        <import package="haxe.ui.components" />
        <import package="haxe.ui.containers" />
        <import package="haxe.ui.containers.menus" />
        <!--
        <import package="haxe.ui.containers.dialogs" />
            -->
        <import class="Std" keep="true" static="true" />
        <!--
        TODO: Under neko & haxe 3.3 importing 'Math' like this causes this error: Class<Math> has no field MathImpl
        -->
        <!--
        <import class="Math" keep="true" static="true" />
        -->    
        <import class="StringTools" keep="true" static="true" />
        <import class="haxe.ui.core.Screen" keep="true" static="true" />
        <import class="haxe.ui.containers.dialogs.MessageBox" keep="true" static="true" />
        <!--
        <import class="haxe.ui.core.UIEvent" keep="true" static="true" />
        <import class="haxe.ui.core.MouseEvent" keep="true" static="true" />
            -->
        <!--
        <import class="haxe.ui.containers.dialogs.Dialog" keep="true" static="true" />
        <import class="haxe.ui.containers.dialogs.DialogOptions" keep="true" static="true" />
        <import class="haxe.ui.containers.dialogs.DialogButton" keep="true" static="true" />
            -->
    </scriptlets>

    <themes>
        <global>
            <style resource="haxeui-core/styles/global.css" priority="-4" />
        </global>
        <default>
            <style resource="haxeui-core/styles/default/main.css" priority="-3" />
            <style resource="haxeui-core/styles/default/buttons.css" />
            <style resource="haxeui-core/styles/default/dialogs.css" />
            <style resource="haxeui-core/styles/default/textinputs.css" />
            <style resource="haxeui-core/styles/default/scrollbars.css" />
            <style resource="haxeui-core/styles/default/scrollview.css" />
            <style resource="haxeui-core/styles/default/checkboxes.css" />
            <style resource="haxeui-core/styles/default/optionboxes.css" />
            <style resource="haxeui-core/styles/default/ranges.css" />
            <style resource="haxeui-core/styles/default/progressbars.css" />
            <style resource="haxeui-core/styles/default/sliders.css" />
            <style resource="haxeui-core/styles/default/steppers.css" />
            <style resource="haxeui-core/styles/default/tabs.css" />
            <style resource="haxeui-core/styles/default/listview.css" />
            <style resource="haxeui-core/styles/default/dropdowns.css" />
            <style resource="haxeui-core/styles/default/tableview.css" />
            <style resource="haxeui-core/styles/default/switches.css" />
            <style resource="haxeui-core/styles/default/calendars.css" />
            <style resource="haxeui-core/styles/default/menus.css" />
            <style resource="haxeui-core/styles/default/accordion.css" />
            <style resource="haxeui-core/styles/default/propertygrids.css" />
        </default>
        <native parent="default">
            <style resource="haxeui-core/styles/native/main.css" priority="-3" />
        </native>
    </themes>

    <properties>
    </properties>
</module>