<?xml version="1.0" encoding="utf-8" ?>
<module id="haxeui-core">
    <resources>
        <resource path="/haxe/ui/_module/styles" prefix="haxeui-core/styles" />
    </resources>

    <components>
        <class name="haxe.ui.core.Component" />
        <class name="haxe.ui.core.ItemRenderer" />
        <class name="haxe.ui.core.BasicItemRenderer" />
        <class package="haxe.ui.components" />
        <class package="haxe.ui.containers" />
        <class package="haxe.ui.containers.dialogs" />
        <class name="haxe.ui.components.Label" alias="text" />
    </components>

    <scriptlets>
        <import class="haxe.ui.core.Component" keep="true" />
        <import package="haxe.ui.components" keep="true" /> <!-- TODO: remove this eventually -->
        <import package="haxe.ui.containers" />
        <import package="haxe.ui.containers.dialogs" />
        <import package="haxe.ui.animation" keep="true" />
        <import class="Std" keep="true" static="true" />
        <!--
        TODO: Under neko & haxe 3.3 importing 'Math' like this causes this error: Class<Math> has no field MathImpl
        -->
        <!--
        <import class="Math" keep="true" static="true" />
        -->    
        <import class="StringTools" keep="true" static="true" />
        <import class="haxe.ui.core.Screen" keep="true" static="true" />
        <import class="haxe.ui.core.UIEvent" keep="true" static="true" />
        <import class="haxe.ui.core.MouseEvent" keep="true" static="true" />
        <import class="haxe.ui.containers.dialogs.Dialog" keep="true" static="true" />
        <import class="haxe.ui.containers.dialogs.DialogOptions" keep="true" static="true" />
        <import class="haxe.ui.containers.dialogs.DialogButton" keep="true" static="true" />
        <import class="haxe.ui.animation.AnimationManager" static="true" />
    </scriptlets>

    <themes>
        <global>
            <style resource="haxeui-core/styles/global.css" />
        </global>
        <default>
            <style resource="haxeui-core/styles/default/main.css" />
        </default>
        <test parent="default">
            <style resource="haxeui-core/styles/test/main.css" />
        </test>
        <native parent="default">
            <style resource="haxeui-core/styles/native/main.css" />
        </native>
    </themes>

    <properties>
        <property name="haxe.ui.components.hprogress.animation.indeterminate" value="haxe.ui.components.animation.indeterminate" />
        <property name="haxe.ui.components.vprogress.animation.indeterminate" value="haxe.ui.components.animation.indeterminate" />

        <property name="haxe.ui.components.hslider.animation.pos" value="haxe.ui.components.animation.pos" />
        <property name="haxe.ui.components.hslider.animation.rangeStart" value="haxe.ui.components.animation.rangeStart" />
        <property name="haxe.ui.components.hslider.animation.rangeEnd" value="haxe.ui.components.animation.rangeEnd" />

        <property name="haxe.ui.components.vslider.animation.pos" value="haxe.ui.components.animation.pos" />
        <property name="haxe.ui.components.vslider.animation.rangeStart" value="haxe.ui.components.animation.rangeStart" />
        <property name="haxe.ui.components.vslider.animation.rangeEnd" value="haxe.ui.components.animation.rangeEnd" />

        <property name="haxe.ui.components.hscroll.animation.pos" value="haxe.ui.components.animation.pos" />

        <property name="haxe.ui.components.vscroll.animation.pos" value="haxe.ui.components.animation.pos" />
    </properties>

    <animations>
        <!--
        <animation id="haxe.ui.components.animation.pos" ease="Bounce.easeOut">
        <animation id="haxe.ui.components.animation.pos" ease="Linear.easeNone">
        <animation id="haxe.ui.components.animation.pos" ease="Linear.easeNone">
        -->
        <animation id="haxe.ui.components.animation.pos" ease="Bounce.easeNone">
            <keyframe time="300">
                <target pos="{pos}" />
            </keyframe>
        </animation>
        <animation id="haxe.ui.components.animation.rangeStart" ease="Bounce.easeOut">
            <keyframe time="300">
                <target rangeStart="{rangeStart}" />
            </keyframe>
        </animation>
        <animation id="haxe.ui.components.animation.rangeEnd" ease="Bounce.easeOut">
            <keyframe time="300">
                <target rangeEnd="{rangeEnd}" />
            </keyframe>
        </animation>

        <animation id="haxe.ui.components.animation.indeterminate" ease="Back.easeIn">
            <keyframe time="0">
                <target rangeStart="0" rangeEnd="25" />
            </keyframe>
            <keyframe time="500">
                <target rangeStart="75" rangeEnd="100" />
            </keyframe>
            <keyframe time="1000">
                <target rangeStart="0" rangeEnd="25" />
            </keyframe>
        </animation>


        <animation id="haxe.ui.components.animation.dialog.show" ease="Linear.easeNone">
            <keyframe time="0">
                <target top="{startTop}" left="{startLeft}" opacity="0" />
            </keyframe>
            <keyframe time="300">
                <target top="{endTop}" left="{endLeft}" opacity="1" />
            </keyframe>
        </animation>

        <animation id="haxe.ui.components.animation.dialog.hide" ease="Linear.easeNone">
            <keyframe time="0">
                <target top="{startTop}" left="{startLeft}" opacity="1" />
            </keyframe>
            <keyframe time="300">
                <target top="{endTop}" left="{endLeft}" opacity="0" />
            </keyframe>
        </animation>
    </animations>
</module>