.accordion {
    border: 1px solid $normal-border-color;
    spacing: 0;
    padding: 1px;
    padding-bottom: 0px;
}

.accordion-button {
    border-radius: 0;
    border: 0px solid $normal-border-color;
    width: 100%;
    text-align: left;
    icon: $arrow-right-square;
    icon-position: left;
    border: none;
    border-color: $normal-border-color;
    border-bottom-width: 1px;
    padding: 6px;
    background-color: $solid-background-color;
}

.accordion-button:hover {
    background-color: $solid-background-color-hover;
}

.accordion-button:down {
    icon: $arrow-down-square;
}

.accordion-page {
    width: 100%;
    width: 100%;
    border-color: $normal-border-color;
    border-bottom-width: 1px;
    opacity: 1;
    padding: 5px;
}

.accordion-page:expanded {
    animation: accordionAnimateExpand 0.3s ease 0s 1;
}

.accordion-page:collapsed {
    animation: accordionAnimateCollpase 0.3s ease 0s 1;
}

@keyframes accordionAnimateExpand {
    0% {
        opacity: 0;
        height: 0%;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}

@keyframes accordionAnimateCollpase {
    0% {
        opacity: 1;
        height: 100%;
    }
    100% {
        opacity: 0;
        height: 0%;
    }
}

.accordion-page .scrollview {
    border: none;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}
