/************************************************************************
** BUTTONS
*************************************************************************/
.button {
    background: ${colors.gradient.normal.start} ${colors.gradient.normal.end} vertical;
    color: ${colors.fore.normal};
    border: 1px solid ${borders.normal.color};
    border-radius: ${borders.normal.radius};
    padding: 5px 5px;
    cursor: pointer;
    width: auto;
    height: auto;
    spacing: 5px 5px;
    text-align: center;
}

.button:hover {
    background: ${colors.gradient.hover.start} ${colors.gradient.hover.end} vertical;
    color: ${colors.fore.hover};
    border-color: ${borders.hover.color};
}

.button:down {
    background: ${colors.gradient.down.start} ${colors.gradient.down.end} vertical;
    color: ${colors.fore.down};
    border-color: ${borders.down.color};
}

.button:active {
    border: 2px solid #77C6FF;
}

.button:disabled {
    background: ${colors.gradient.normal.disabled.start} ${colors.gradient.normal.disabled.end} vertical;
    color: ${colors.fore.disabled};
    cursor: default;
    border-color: ${borders.disabled.color};
}
