/************************************************************************
** BUTTONS
*************************************************************************/
.button {
    background: ${raised.gradient.start} ${raised.gradient.end} vertical;
    color: ${raised.text.color};
    border: 1px solid ${raised.border.color};
    border-radius: ${default.border.radius};
    padding: 5px 5px;
    cursor: pointer;
    width: auto;
    height: auto;
    spacing: 5px 5px;
    text-align: center;
}

.button .icon {
    opacity: 1;
}

.button:hover {
    background: ${raised.gradient.hover.start} ${raised.gradient.hover.end} vertical;
    color: ${raised.text.hover.color};
    border-color: ${raised.border.hover.color};
}

.button:down {
    background: ${raised.gradient.down.start} ${raised.gradient.down.end} vertical;
    color: ${raised.text.down.color};
    border-color: ${rasied.border.down.color};
}

.button:active {
    border: 2px solid #77C6FF;
}

.button:disabled {
    background: ${raised.gradient.disabled.start} ${raised.gradient.disabled.end} vertical;
    color: ${raised.text.disabled.color};
    cursor: default;
    border-color: ${rasied.border.disabled.color};
}

.button:disabled .icon {
    opacity: .5;
}
