/************************************************************************
** CALENDAR
*************************************************************************/
.calendar {
    background-color: $default-background-color;
    padding: 5px;
    border: 1px solid $normal-border-color;
    border-radius: 1px;
}

.calendar .button {
    padding: 8px;
}

.calendar .calendar-off-day {
    border: none;
    background-color: $default-background-color;
    cursor: default;
}

.calendar .calendar-day {
    border: none;
    background-color: $accent-color-lighter;
}

.calendar .calendar-day:hover {
    border: none;
    background-color: $selection-background-color-hover;
}

.calendar .calendar-day-selected {
    border: none;
    background-color: $selection-background-color;
    color: $selection-text-color;
}


/************************************************************************
** CALENDARVIEW
*************************************************************************/
.calendar-view {
    background-color: $default-background-color;
    padding: 5px;
    border: 1px solid $normal-border-color;
    border-radius: 1px;
}

.dropdown-popup > .calendar-view {
    border: none;
}

.calendar-view .calendar {
    border: none;
    padding: 0px;
}

.calendar-view .hbox {
	spacing: 0;
}

.calendar-view #prev-month {
    icon: $arrow-left;
    vertical-align: center;
    border: none;
    background-color: $default-background-color;
}

.calendar-view #next-month {
    icon: $arrow-right;
    vertical-align: center;
    border: none;
    background-color: $default-background-color;
}

.calendar-view #current-month {
    vertical-align: center;
}

.calendar-view #current-year {
    text-align: right;
    vertical-align: center;
	border: none;
	padding-top: 1px;
	background-color: $default-background-color;
}
.calendar-view #current-year .button {
	background-color: $default-background-color;
	border: none;
}
