/************************************************************************
** CALENDAR
*************************************************************************/
.calendar {
    background-color: ${panel.background.color};
    padding: 5px;
    border: 1px solid ${panel.border.color};
    border-radius: ${default.border.radius};
}

.calendar .calendar-off-day {
    border: none;
    background-color: ${panel.background.color};
    cursor: default;
}

.calendar .calendar-day {
    border: none;
    background-color: ${alternating.background.color.hover.odd};
}

.calendar:disabled .calendar-day {
    background-color: ${alternating.background.color.disabled.odd};
}

.calendar .calendar-day:hover {
    border: none;
    background-color: ${selection.background.color};
    color: ${selection.text.color};
}

.calendar .calendar-day-selected {
    border: none;
    background-color: ${selection.background.color};
    color: ${selection.text.color};
}

.calendar:disabled .calendar-day-selected {
    background-color: ${selection.background.color.disabled};
    color: ${selection.text.disabled.color};
}

/************************************************************************
** CALENDARVIEW
*************************************************************************/
.calendar-view {
    background-color: ${panel.background.color};
    padding: 5px;
    border: 1px solid ${panel.border.color};
    border-radius: 1px;
}

.calendar-view .calendar {
    border: none;
    padding: 0px;
}

.calendar-view .hbox {
	spacing: 0;
}

.calendar-view #prev-month {
    icon: "haxeui-core/styles/default/left_arrow.png";
    vertical-align: center;
    border: none;
    background-color: ${panel.background.color};
}

.calendar-view #next-month {
    icon: "haxeui-core/styles/default/right_arrow.png";
    vertical-align: center;
    border: none;
    background-color: ${panel.background.color};
}

.calendar-view #current-month {
    vertical-align: center;
}

.calendar-view:disabled #current-month {
    color: ${default.text.disabled.color};
}

.calendar-view #current-year {
    text-align: right;
    vertical-align: center;
	border: none;
	padding-top: 1px;
	background-color: ${panel.background.color};
}

.calendar-view #current-year .button {
	background-color: ${panel.background.color};
	border: none;
}
