/************************************************************************
** CHECKBOX
*************************************************************************/
.checkbox {
    width: auto;
    height: auto;
    horizontal-spacing: 4px;
    cursor: pointer;
    color: ${colors.fore.normal};
}

.checkbox:hover {
}

.checkbox:disabled {
    cursor: default;
    color: ${colors.fore.disabled};
}

.checkbox-value {
    border: 1px solid ${borders.normal.color};
    background-color: ${colors.panel.inset};
    width: 16px;
    height: 16px;
    vertical-align: center;
    border-radius: ${borders.normal.radius};
    icon: none;
    filter: ${filters.shadow.inset};
    cursor: pointer;
}

.checkbox-value:hover {
    border: 1px solid #216AAE;
}

.checkbox-value:selected {
    icon: "haxeui-core/styles/default/check.png";
}

.checkbox-value:disabled {
    background: ${colors.gradient.inset.disabled.start} ${colors.gradient.inset.disabled.end} vertical;
    cursor: default;
}

.checkbox-label {
    vertical-align: center;
}

.checkbox-icon {
    horizontal-align: center;
    vertical-align: center;
    cursor: pointer;
    opacity: 1;
}

.checkbox-icon:disabled {
    cursor: default;
    opacity: 0.5;
}
