/************************************************************************
** CHECKBOX
*************************************************************************/
.checkbox {
    width: auto;
    height: auto;
    horizontal-spacing: 4px;
    cursor: pointer;
    color: $normal-text-color;
}

.checkbox:hover {
}

.checkbox:disabled {
    cursor: default;
    color: $disabled-text-color;
    border-color: $disabled-border-color;
}

.checkbox-value {
    border: 1px solid $normal-border-color;
    background-color: $tertiary-background-color;
    width: 18px;
    height: 18px;
    vertical-align: center;
    border-radius: 2px;
    icon: none;
    filter: $normal-inner-shadow;
    cursor: pointer;
}

.checkbox-value:hover {
    border: 1px solid $accent-color;
}

.checkbox-value:active {
    border: 1px solid $accent-color;
}

.checkbox-value:selected {
    icon: $check-selected;
}

.checkbox-value:disabled {
    background-color: $solid-background-color-disabled;
    border-color: $disabled-border-color;
    cursor: default;
}

.checkbox-label {
    vertical-align: center;
    cursor: pointer;
}

.checkbox-icon {
    horizontal-align: center;
    vertical-align: center;
    cursor: pointer;
    opacity: 1;
}

.checkbox-icon:disabled {
    cursor: default;
    opacity: 0.5;
}
