/************************************************************************
** DROPDOWNS
*************************************************************************/
.dropdown {
    icon: "haxeui-core/styles/default/sortable_arrows.png";
    icon-position: far-right;
    text-align: left;
    padding: 5px;
}

.dropdown-popup {
    background-color: white;
    border: 1px solid #ABABAB;
}

.dropdown-search-container {
    spacing: 0;
}

.dropdown-search-field-container {
    width: 100%;
    padding: 1px;
}

.dropdown-search-field {
    width: 100%;
    border: none;
    border-radius: 0px;
    icon: "haxeui-core/styles/default/search.png";
}

/************************************************************************
** MOBILE VARIANTS
*************************************************************************/
.dropdown:mobile {
    mode: mobile;
}

.dropdown-popup:mobile {
    width: 75%;
}
