/************************************************************************
** DROPDOWNS
*************************************************************************/
.dropdown {
    icon: "haxeui-core/styles/default/up_down_arrows.png";
    icon-position: far-right;
    text-align: left;
    padding: 5px;
}

.dropdown-popup {
    background-color: white;
    border: 1px solid #ABABAB;
}

/************************************************************************
** MOBILE VARIANTS
*************************************************************************/
.dropdown:mobile {
    mode: mobile;
}

.dropdown-popup:mobile {
    width: 75%;
}
