.frame {
    padding-left: 10px;
    width: auto;
    height: auto;
}

.frame-contents {
    border-right: 1px solid $normal-border-color;
    border-left: 1px solid $normal-border-color;
    border-bottom: 1px solid $normal-border-color;
    padding: 10px;
    padding-top: 15px;
}

.frame-title {
    color: $normal-text-color;
}

.frame-left-line, .frame-right-line {
    background-color: $normal-border-color;
    height: 1px;
}
