.frame {
    width: auto;
    height: auto;
    padding: 0px;
    horizontal-spacing: 3px;
}

.frame-border {
    border-right: 1px solid $normal-border-color;
    border-left: 1px solid $normal-border-color;
    border-bottom: 1px solid $normal-border-color;
}

.frame-border:disabled {
    border-right: 1px solid $disabled-border-color;
    border-left: 1px solid $disabled-border-color;
    border-bottom: 1px solid $disabled-border-color;
}

.frame-contents {
    padding: 10px;
    padding-top: 5px;
}

.frame.no-padding .frame-contents {
    padding: 1px;
    padding-top: 1px;
}

.frame-title {
    color: $normal-text-color;
    font-weight: bold;
}

.frame-title:disabled {
    color: $disabled-text-color;
}

.frame-left-line {
    width: 10px;
}

.frame-left-line, .frame-right-line {
    background-color: $normal-border-color;
    height: 1px;
}

.frame-left-line:disabled, .frame-right-line:disabled {
    background-color: $disabled-border-color;
    height: 1px;
}

.frame .frame-header {
    horizontal-align: right;
    vertical-align: center;
    margin-right: 10px;
    margin-left: 0px;
    spacing: 5px;
}

.frame.collapsible-frame .frame-title, .frame.collapsible-frame .frame-icon {
    pointer-events: true;
}

.frame.collapsible-frame .frame-contents.expanded, .frame.collapsible-frame .frame-border.expanded {
    hidden: false;
}

.frame.collapsible-frame .frame-contents.collapsed, .frame.collapsible-frame .frame-border.collapsed {
    hidden: true;
}

.frame-collapse-expand-icon.expanded {
    resource: "haxeui-core/styles/shared/expanded-blue.png";
    pointer-events: true;
}

.frame-collapse-expand-icon.collapsed {
    resource: "haxeui-core/styles/shared/collapsed-blue.png";
    pointer-events: true;
}