/************************************************************************
** LISTVIEW
*************************************************************************/
.listview {
    border: 1px solid ${panel.border.color};
    border-radius: ${default.border.radius};
    padding: 1px;
    width: auto;
    height: auto;
    background-color: ${panel.background.color};
}

.listview .listview-contents {
    spacing: 0;
    width: 100%;
    padding: 0px;
}

.listview .itemrenderer {
    cursor: pointer;    
}

.listview .itemrenderer .label {
    color: ${default.text.color};
}

.listview:disabled .itemrenderer .label {
    color: ${default.text.disabled.color};
}

.listview:disabled {
    border-color: ${panel.border.disabled.color};
}

.listview .even {
    background-color: ${alternating.background.color.even};
}

.listview:disabled .even {
    background-color: ${alternating.background.color.disabled.even};
}

.listview .even:hover {
    background-color: ${alternating.background.color.hover.even};
}

.listview .odd {
    background-color: ${alternating.background.color.odd};
}

.listview:disabled .odd {
    background-color: ${alternating.background.color.disabled.odd};
}

.listview .odd:hover {
    background-color: ${alternating.background.color.hover.odd};
}

.listview .itemrenderer {
    height: auto;
    padding: 5px;
}

.listview .itemrenderer:selected {
    background-color: ${selection.background.color};
    color: ${selection.text.color};
}

.listview:disabled .itemrenderer:selected {
    background-color: ${selection.background.color.disabled};
}

.listview .itemrenderer:selected .label {
    color: ${selection.text.color};
}

.listview:disabled .itemrenderer:selected .label {
    color: ${selection.text.disabled.color};
}
