/************************************************************************
** GENERAL
*************************************************************************/
.component {
}

.custom-component {
    width: auto;
    height: auto;
}

.modal-background {
    background-color: white;
    opacity: 0.75;
}

.modal-component {
    filter: blur(1);
}

.popup {
    filter: drop-shadow(2, 45, #000000, 0.15, 6, 1, 30, 35, false);
}

@keyframes animationFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: animationFadeIn 0.1s linear 0s 1;
}

.fade-out {
    animation: animationFadeIn 0.1s linear 0s 1 reverse;
}

/************************************************************************
** CONTAINERS
*************************************************************************/
.box, .vbox, .hbox, .absolute, .continuoushbox, .hgrid, .vgrid, .grid {
    spacing: 5px 5px;
}

.box, .vbox, .hbox, .continuoushbox, .hgrid, .vgrid, .grid {
    width: auto;
    height: auto;
}

/************************************************************************
** LABEL
*************************************************************************/
.label {
    width: auto;
    height: auto;
}

/************************************************************************
** IMAGE
*************************************************************************/
.image {
    width: auto;
    height: auto;
}
