/************************************************************************
** MENUBAR
*************************************************************************/
.menubar {
    background-color: $solid-background-color;
    padding: 6px;
    border-bottom-width: 1px;
    border-bottom-color: $normal-border-color;
    filter: $menu-shadow;
}

.menubar-button {
    background-color: $solid-background-color;
    border: none;
    color: $normal-text-color;
    vertical-align: center;
}

.menubar.rounded .menubar-button {
    border-radius: 3px;
}

.menubar-button:hover {
    background-color: $selection-background-color;
    color: $selection-text-color;
}

/*
.menubar-button:active {
    background-color: $selection-background-color-hover;
    color: $hover-text-color;
}
*/

.menubar-button:down {
    background-color: $secondary-background-color;
    color: $down-text-color;
    border: 1px solid $normal-border-color;
    border-bottom-width: 0px;
    border-bottom-size: 0px;
}

.menubar-button-no-children {
    background-color: $solid-background-color;
    border: none;
    color: $normal-text-color;
    vertical-align: center;
}

.menubar-button-no-children:hover {
    background-color: $selection-background-color;
    color: $selection-text-color;
}

.menubar-button-no-children:down {
    background-color: $secondary-background-color;
    color: $down-text-color;
    border: 1px solid $normal-border-color;
}

.menubar-button:disabled {
    color: $disabled-text-color;
}

/************************************************************************
** MENU
*************************************************************************/
.menu {
    background-color: $secondary-background-color;
    padding: 1px;
    border: 1px solid $normal-border-color;
    filter: $menu-shadow;
    spacing: 0;
    initial-width: 200px;
}

.menu.rounded {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 4px;
}

.menu.primary-menu.rounded {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 0px;
    padding: 4px;
}

.menu.auto-width {
    width: auto;
    initial-width: none;
}

.menu.expanded {
    border-top-width: 0px;
    border-top-size: 0px;
}

.menu-filler {
    background-color: $normal-border-color;
    height: 1px;
}

/************************************************************************
** MENUITEMS
*************************************************************************/
.menuitem {
    background-color: $secondary-background-color;
    padding: 6px;
    padding-left: 12px;
    cursor: pointer;
}

.menuitem-label, .menuitem-checkbox, .menuitem-optionbox, .menuitem-shortcut-label {
    vertical-align: center;
}

.menuitem-label:disabled, .menuitem-shortcut-label:disabled {
    color: $disabled-text-color;
}

.menuitem-shortcut-label {
    text-align: right;
    vertical-align: center;
    horizontal-align: right;
}

.menuitem-icon {
    vertical-align: center;
}

.menuitem:hover, .menuitem:selected {
    background-color: $selection-background-color;
}

.menuitem .label:hover, .menuitem .label:selected,
.menuitem-checkbox:hover, .menuitem-checkbox:selected,
.menuitem-optionbox:hover, .menuitem-optionbox:selected {
    color: $selection-text-color;
}

.menuitem-expandable {
    resource: $arrow-right;
    vertical-align: "center";
}

.menuseparator {
    width: 100%;
    height: auto;
}

.menuseparator-line {
    height: 1px;
    width: 100%;
    background-color: $normal-border-color;
    horizontal-align: "center";
}

.menu.rounded .menuitem {
    border-radius: 3px;
}

.menu.rounded .menuseparator {
    padding-top: 3px;
    padding-bottom: 3px;
}
