/************************************************************************
** OPTIONBOX
*************************************************************************/
.optionbox {
    width: auto;
    height: auto;
    horizontal-spacing: 4px;
    cursor: pointer;
    color: ${default.text.color};
}

.optionbox:hover {
}

.optionbox:disabled {
    cursor: default;
    color: ${default.text.disabled.color};
}

.optionbox-value {
    border: 1px solid ${inset.border.color};
    background: ${inset.gradient.start} ${inset.gradient.end} vertical;
    width: 16px;
    height: 16px;
    vertical-align: center;
    border-radius: 18px;
    icon: none;
    filter: ${inset.filter.shadow};
    padding-top: 1px;
    cursor: pointer;
}

.optionbox-value:hover {
    border: 1px solid #216AAE;
}

.optionbox-value:selected {
    icon: "haxeui-core/styles/default/option.png";
}

.optionbox-value:disabled {
    background: ${inset.gradient.disabled.start} ${inset.gradient.disabled.end} vertical;
    cursor: default;
}

.optionbox-label {
    vertical-align: center;
    cursor: pointer;
}

.optionbox-icon {
    horizontal-align: center;
    vertical-align: center;
    cursor: pointer;
    opacity: 1;
}

.optionbox-icon:disabled {
    cursor: default;
    opacity: 0.5;
}
