.panel {
    border: 1px solid $normal-border-color;
    border-radius: 4px;
    padding: 1px;
    spacing: 0px;
    filter: drop-shadow(1, 45, #888888, 0.2, 15, 2, 1, 3, false);
}

.panel.no-shadow {
    filter: none;
}

.panel-content {
    padding: 5px;
    height: auto;
}

.panel.no-padding .panel-content {
    padding: 0px;
}

.panel-header {
    background-color: $solid-background-color;
    border-top-left-radius: 4px;
    border-top-right-radius:4px;
    padding: 5px;
    border-bottom: 1px solid $normal-border-color;
    width: 100%;
}

.panel-footer {
    background-color: $solid-background-color;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius:4px; padding: 5px;
    border-top: 1px solid $normal-border-color;
    width: 100%;
}
