/************************************************************************
** PROGRESS
*************************************************************************/
@keyframes progressIndeterminate {
    0% {
        rangeStart: 0;
        rangeEnd: 25;
    }
    50% {
        rangeStart: 75;
        rangeEnd: 100;
    }
    100% {
        rangeStart: 0;
        rangeEnd: 25;
    }
}

.progress:indeterminate {
    animation: progressIndeterminate 1s ease 0s infinite;
}

/************************************************************************
** PROGRESS
*************************************************************************/
@keyframes indeterminate {
    0% {
        start: 0;
        end: 25;
    }
    50% {
        start: 75;
        end: 100;
    }
    100% {
        start: 0;
        end: 25;
    }
}

.progress:indeterminate {
    animation: indeterminate 1s ease 0s infinite;
}

.progress-value {
    border: none;
    border-radius: 2px;
}

.horizontal-progress {
    background: ${colors.gradient.inset.start} ${colors.gradient.inset.end} vertical;
    initial-width: 150px;
    initial-height: 20px;
}

.horizontal-progress:disabled {
    background: ${colors.gradient.inset.disabled.start} ${colors.gradient.inset.disabled.end} vertical;
}

.horizontal-progress .progress-value {
    background: ${colors.gradient.bar.start} ${colors.gradient.bar.end} vertical;
    height: 100%;
}

.horizontal-progress .progress-value:disabled {
    background: ${colors.gradient.bar.disabled.start} ${colors.gradient.bar.disabled.end} vertical;
}

.vertical-progress {
    background: ${colors.gradient.inset.start} ${colors.gradient.inset.end} horizontal;
    initial-width: 20px;
    initial-height: 150px;
}

.vertical-progress:disabled {
    background: ${colors.gradient.inset.disabled.start} ${colors.gradient.inset.disabled.end} horizontal;
}

.vertical-progress .progress-value {
    background: ${colors.gradient.bar.start} ${colors.gradient.bar.end} horizontal;
    width: 100%;
}

.vertical-progress .progress-value:disabled {
    background: ${colors.gradient.bar.disabled.start} ${colors.gradient.bar.disabled.end} horizontal;
}

