.property-grid {
}

.property-grid .scrollview-contents {
    padding: 0;
    width: 100%;
    spacing: 0;
}

.property-group {
    width: 100%;
    spacing: 0;
}

.property-group-header {
    background-color: #EDEDED;
    pointer-events: true;
    width: 100%;
    padding: 5px;
    border-color: #ABABAB;
    border-bottom-width: 1px;
    border-bottom-size: 1px;
    cursor: pointer;
}

.property-group-header.scrolling {
    border-right-width: 1px;
    border-right-size: 1px;
}

.property-group-header:hover {
    background-color: #F5F5F5;
}

.property-group-header-icon {
    vertical-align: center;
}

.property-group-header:expanded .property-group-header-icon {
    resource: "haxeui-core/styles/default/down_arrow_square.png";
}

.property-group-header:collapsed .property-group-header-icon {
    resource: "haxeui-core/styles/default/right_arrow_square.png";
}

.property-group-header-label {
}

.property-group-contents {
    width: 100%;
    spacing: 1;
    background-color: #ABABAB;
    padding-bottom: 1px;
}

.property-group.last .property-group-contents.scrolling {
    padding-bottom: 0px;
}

.property-group-contents.scrolling {
    padding-right: 1px;
}

.property-group-item-label-container {
    width: 50%;
    background-color: white;
    height: 100%;
    padding-left: 5px;
}

.property-group-item-editor-container {
    width: 50%;
    background-color: white;
}        

.property-group-item-label {
    vertical-align: center;
}

.property-group-item-editor {
    width: 100%;
}

.property-group .textfield {
    border: none;
    filter: none;
    border-radius: 0;
}

.property-group .checkbox {
    padding: 5px;
    padding-left: 4px;
}

.property-group .number-stepper {
    padding: 0;
}

.property-group .dropdown {
    border: none;
    border-radius: none;
}
