/************************************************************************
** RANGE
*************************************************************************/
.range {
    border: 1px solid ${sunken.border.color};
    padding: 2px;
    border-radius: ${default.border.radius};
    filter: ${sunken.filter.shadow};
}

.range-value {
    border: none;
    border-radius: ${default.border.radius};
}

.horizontal-range {
    background: ${sunken.gradient.start} ${sunken.gradient.end} vertical;
    initial-width: 150px;
    initial-height: 20px;
}    

.horizontal-range:disabled {
    background: ${sunken.gradient.disabled.start} ${sunken.gradient.disabled.end} vertical;
}    

.horizontal-range .range-value {
    background: ${bar.gradient.start} ${bar.gradient.end} vertical;
    height: 100%;
}

.horizontal-range:disabled .range-value {
    background: ${bar.gradient.disabled.start} ${bar.gradient.disabled.end} vertical;
}

.vertical-range {
    background: ${sunken.gradient.start} ${sunken.gradient.end} horizontal;
    initial-width: 20px;
    initial-height: 150px;
}

.vertical-range:disabled {
    background: ${sunken.gradient.disabled.start} ${sunken.gradient.disabled.end} horizontal;
}

.vertical-range .range-value {
    background: ${bar.gradient.start} ${bar.gradient.end} horizontal;
    width: 100%;
}

.vertical-range:disabled .range-value {
    background: ${bar.gradient.disabled.start} ${bar.gradient.disabled.end} horizontal;
}
