/************************************************************************
** RANGE
*************************************************************************/
.range {
    border: 1px solid ${borders.normal.color};
    padding: 2px;
    border-radius: ${borders.normal.radius};
    filter: ${filters.shadow.inset};
}

.range-value {
    border: none;
    border-radius: ${borders.normal.radius};
}

.horizontal-range {
    background: ${colors.gradient.inset.start} ${colors.gradient.inset.end} vertical;
    initial-width: 150px;
    initial-height: 20px;
}    

.horizontal-range:disabled {
    background: ${colors.gradient.inset.disabled.start} ${colors.gradient.inset.disabled.end} vertical;
}    

.horizontal-range .range-value {
    background: ${colors.gradient.bar.start} ${colors.gradient.bar.end} vertical;
    height: 100%;
}

.horizontal-range .range-value:disabled {
    background: ${colors.gradient.bar.disabled.start} ${colors.gradient.bar.disabled.end} vertical;
}

.vertical-range {
    background: ${colors.gradient.inset.start} ${colors.gradient.inset.end} horizontal;
    initial-width: 20px;
    initial-height: 150px;
}

.vertical-range:disabled {
    background: ${colors.gradient.inset.disabled.start} ${colors.gradient.inset.disabled.end} horizontal;
}

.vertical-range .range-value {
    background: ${colors.gradient.bar.start} ${colors.gradient.bar.end} horizontal;
    width: 100%;
}

.vertical-range .range-value:disabled {
    background: ${colors.gradient.bar.disabled.start} ${colors.gradient.bar.disabled.end} horizontal;
}
