/************************************************************************
** SLIDERS
*************************************************************************/
.horizontal-slider {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    height: auto;
    initial-width: 150px;
    border-radius: $normal-border-radius;
}

.horizontal-slider:active .button {
    border: 1px solid $accent-color;
}

.horizontal-slider:active .range {
    border: 1px solid $accent-color;
}

.horizontal-slider .slider-value {
    width: 100%;
    height: 8px;
    border-radius: 1px;
    vertical-align: center;
    cursor: pointer;
}

.horizontal-slider.with-center .range-value {
    border-radius: 0px;
}

.horizontal-slider .minor-tick {
    margin-top: 10px;
    background-color: $normal-border-color;
    width: 1px;
    height: 4px;
    vertical-align: center;
}

.horizontal-slider .major-tick {
    margin-top: 12px;
    background-color: $normal-border-color;
    width: 1px;
    height: 8px;
    vertical-align: center;
}

.horizontal-slider .button {
    width: 11px;
    height: 20px;
    border-radius: 2px;
    vertical-align: center;
    filter: none;
}
    
.vertical-slider {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    width: auto;
    initial-height: 150px;
}

.vertical-slider:active .button {
    border: 1px solid $accent-color;
}

.vertical-slider:active .range {
    border: 1px solid $accent-color;
}

.vertical-slider .slider-value {
    height: 100%;
    width: 8px;
    border-radius: 2px;
    horizontal-align: center;
    cursor: pointer;
}

.vertical-slider.with-center .range-value {
    border-radius: 0px;
}

.vertical-slider .minor-tick {
    margin-left: 10px;
    background-color: $normal-border-color;
    width: 4px;
    height: 1px;
    horizontal-align: center;
}

.vertical-slider .major-tick {
    margin-left: 12px;
    background-color: $normal-border-color;
    width: 8px;
    height: 1px;
    horizontal-align: center;
}

.vertical-slider .button {
    width: 20px;
    height: 11px;
    border-radius: 2px;
    horizontal-align: center;
    filter: none;
}

/************************************************************************
** VARIANT - SIMPLE
*************************************************************************/
.slider.simple-slider .button {
    height: 12px;
    width: 12px;
}

.slider.simple-slider .range-value {
    background-color: none;
}

