.splitter {
    spacing: 0;
}

.vertical-splitter-gripper {
    width: 100%;
    height: 6px;
    cursor: row-resize;
    __background-color: #EEEEEE;
}

.vertical-splitter-gripper:hover {
    background-color: #DDDDDD;
}

.vertical-splitter-gripper .image {
    resource: "haxeui-core/styles/default/sizer_gripper_horizontal.png";
    horizontal-align: center;
    vertical-align: center;
}

.horizontal-splitter-gripper {
    width: 6px;
    height: 100%;
    cursor: col-resize;
    __background-color: #EEEEEE;
}

.horizontal-splitter-gripper:hover {
    background-color: #DDDDDD;
}

.horizontal-splitter-gripper .image {
    resource: "haxeui-core/styles/default/sizer_gripper_vertical.png";
    horizontal-align: center;
    vertical-align: center;
}
