/************************************************************************
** UNATTACHED STEPPER
*************************************************************************/
.stepper {
    spacing: 0;
}

.stepper-button {
    padding: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 0;
    border: none;
    background-color: #E6E6E6;
    opacity: 1;
}

.stepper-button:hover {
    background-color: #F1F1F1;
}

.stepper-button:down {
    background-color: #C2C2C2;
}

.stepper-button:disabled {
    opacity: 0.5;
    background-color: #CCCCCC;
}

.stepper-inc {
    icon: "haxeui-core/styles/default/up_arrow.png";
}

.stepper-deinc {
    icon: "haxeui-core/styles/default/down_arrow.png";
}

.stepper-inc:down {
    icon: "haxeui-core/styles/default/up_arrow_white.png";
}

.stepper-deinc:down {
    icon: "haxeui-core/styles/default/down_arrow_white.png";
}

.stepper-step .stepper-inc, .stepper-step .stepper-deinc {
    height: 50%;
}

/************************************************************************
** NUMBER STEPPER - STANDARD LAYOUT
*************************************************************************/
.number-stepper {
    padding: 0px;
    height: auto;
    initial-width: 70px;
    border: 1px solid #ABABAB;
    border-radius: 2px;
    filter: drop-shadow(1, 45, #888888, 0.2, 1, 1, 1, 3, true);
    background-color: white;
}

.number-stepper .stepper-value {
    text-align: center;
    border: none;
    background-color: none;
    filter: none;
    margin-top: 0px;
}

.number-stepper .stepper-deinc {
    icon: "haxeui-core/styles/default/left_arrow.png";
    padding-left: 4px;
    padding-right: 4px;
    border: none;
    background-color: #E6E6E6;
    border-radius: 0;
}

.number-stepper .stepper-deinc:hover {
    background-color: #F1F1F1;
}

.number-stepper .stepper-deinc:down {
    background-color: #C2C2C2;
    icon: "haxeui-core/styles/default/left_arrow_white.png";
}

.number-stepper .stepper-deinc:disabled {
    opacity: 0.5;
    background-color: #CCCCCC;
}

.number-stepper .stepper-inc {
    icon: "haxeui-core/styles/default/right_arrow.png";
    padding-left: 4px;
    padding-right: 4px;
    border: none;
    background-color: #E6E6E6;
    border-radius: 0;
}

.number-stepper .stepper-inc:hover {
    background-color: #F1F1F1;
}

.number-stepper .stepper-inc:down {
    background-color: #C2C2C2;
    icon: "haxeui-core/styles/default/right_arrow_white.png";
}

.number-stepper .stepper-inc:disabled {
    opacity: 0.5;
    background-color: #CCCCCC;
}

.number-stepper.invalid-value {
    color: red;
    background-color: #ffdddd;
}

.number-stepper:active {
    border: 1px solid #216AAE;
}

/************************************************************************
** NUMBER STEPPER - CLASS LAYOUT
*************************************************************************/
.number-stepper.classic-stepper {
    layout: classic;
}

.number-stepper.classic-stepper .stepper-deinc {
    icon: "haxeui-core/styles/default/down_arrow.png";
}

.number-stepper.classic-stepper .stepper-inc {
    icon: "haxeui-core/styles/default/up_arrow.png";
}

.number-stepper.classic-stepper .stepper-deinc:down {
    icon: "haxeui-core/styles/default/down_arrow_white.png";
}

.number-stepper.classic-stepper .stepper-inc:down {
    icon: "haxeui-core/styles/default/up_arrow_white.png";
}

.number-stepper.classic-stepper .stepper-value {
    text-align: left;
    margin-top: 0px;
}

/************************************************************************
** OPTION STEPPER
*************************************************************************/
.option-stepper {
    padding: 0px;
    height: auto;
    initial-width: 100px;
    border: 1px solid #ABABAB;
    border-radius: 2px;
    filter: drop-shadow(1, 45, #888888, 0.2, 1, 1, 1, 3, true);
    background-color: white;
}

.option-stepper .stepper-value {
    text-align: center;
    border: none;
    background-color: none;
    filter: none;
    margin-top: 0px;
    padding: 5px;
}

.option-stepper .stepper-deinc {
    icon: "haxeui-core/styles/default/left_arrow.png";
    padding-left: 4px;
    padding-right: 4px;
    border: none;
    background-color: #E6E6E6;
    border-radius: 0;
}

.option-stepper .stepper-deinc:hover {
    background-color: #F1F1F1;
}

.option-stepper .stepper-deinc:down {
    background-color: #C2C2C2;
    icon: "haxeui-core/styles/default/left_arrow_white.png";
}

.number-stepper .stepper-deinc:disabled {
    opacity: 0.5;
    background-color: #CCCCCC;
}

.option-stepper .stepper-inc {
    icon: "haxeui-core/styles/default/right_arrow.png";
    padding-left: 4px;
    padding-right: 4px;
    border: none;
    background-color: #E6E6E6;
    border-radius: 0;
}

.option-stepper .stepper-inc:hover {
    background-color: #F1F1F1;
}

.option-stepper .stepper-inc:down {
    background-color: #C2C2C2;
    icon: "haxeui-core/styles/default/right_arrow_white.png";
}

.option-stepper .stepper-inc:disabled {
    opacity: 0.5;
    background-color: #CCCCCC;
}

.option-stepper.invalid-value {
    color: red;
    background-color: #ffdddd;
}

.option-stepper:active {
    border: 1px solid #216AAE;
}
