.numberstepper {
    padding: 1px;
    spacing: 0;
}

.stepper {
    spacing: 0;
}

.stepper-button {
    padding: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 0;
    border: none;
    background-color: ${flat.background.color};
    opacity: 1;
}

.stepper-button:hover {
    background-color: ${flat.background.hover.color};
}

.stepper-button:down {
    background-color: ${flat.background.down.color};
}

.stepper-button:disabled {
    background-color: ${flat.background.disabled.color};
}

.stepper-inc {
    icon: "haxeui-core/styles/default/up_arrow.png";
}

.stepper-deinc {
    icon: "haxeui-core/styles/default/down_arrow.png";
}

.stepper-inc:down {
    icon: "haxeui-core/styles/default/up_arrow_white.png";
}

.stepper-deinc:down {
    icon: "haxeui-core/styles/default/down_arrow_white.png";
}

.stepper-textfield, .stepper-textfield:active {
    border: none;
    width: 100%;
    padding: 4px;
    padding-top: 5px;
    padding-bottom: 3px;
    vertical-align: center;
    filter: ${inset.filter.shadow};
}

.stepper-step {
    height: 100%;
}

.stepper-step .stepper-inc, .stepper-step .stepper-deinc {
    height: 50%;
}

.number-stepper {
    initial-width: 60px;
}