/************************************************************************
** SWITCH (DEFAULT)
*************************************************************************/
.switch {
    width: auto;
    height: auto;
    horizontal-spacing: 5px;
}

.switch-label {
    color: black;
    vertical-align: center;
}

.switch-button-sub {
    border: none;
    filter: none;
    background-color: #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
    padding: 0px;
    initial-height: 20px;
    initial-width: 40px;
}

.switch-button-sub-extra {
    height: 14px;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #ABABAB;
    vertical-align: center;
    border-radius: 10px;
    filter: drop-shadow(1, 45, #888888, 0.3, 1, 1, 1, 3, true);
}

.switch-button-sub .button {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    filter: drop-shadow(1, 45, #000000, 0.2, 0, 0, 0, 3, false);
}

@keyframes switchAnimateSelected {
    0% {
        pos: 0;
    }
    100% {
        pos: 100;
    }
}

.switch-button-sub:selected {
    animation: switchAnimateSelected 0.2s ease 0s 1;
}
 
.switch-button-sub:unselected {
    animation: switchAnimateSelected 0.2s ease 0s 1 reverse backwards;
}


@keyframes switchAnimateExtraSelected {
    0% {
        background-color: #FFFFFF;
    }
    100% {
        background-color: #98c4e6;
    }
}

.switch-button-sub-extra:selected {
    animation: switchAnimateExtraSelected 0.2s ease 0s 1;
}

.switch-button-sub-extra:unselected {
    animation: switchAnimateExtraSelected 0.2s ease 0s 1 reverse backwards;
}

/************************************************************************
** SWITCH (SQUARE)
*************************************************************************/
.square-switch .switch-button-sub {
    background-color: #FFFFFF;
    border: 1px solid #ABABAB;
    border-radius: 2px;
    cursor: pointer;
    padding: 0px;
    initial-width: 60px;
    initial-height: 20px;
    filter: drop-shadow(1, 45, #888888, 0.3, 1, 1, 1, 3, true);
}

.square-switch .switch-button-sub .button {
    height: 100%;
    width: 50%;
    border-radius: 2px;
    filter: none;
}

.square-switch .switch-button-sub-extra {
    height: 0;
    width: 0;
    background-color: none;
    border: none;
    filter: none;
}

@keyframes switchAnimateSelectedSquare {
    0% {
        pos: 0;
        background-color: #FFFFFF;
    }
    100% {
        pos: 100;
        background-color: #98c4e6;
    }
}

.square-switch .switch-button-sub:selected {
    animation: switchAnimateSelectedSquare 0.2s ease 0s 1;
}

.square-switch .switch-button-sub:unselected {
    animation: switchAnimateSelectedSquare 0.2s ease 0s 1 reverse backwards;
}

/************************************************************************
** SWITCH (PILL)
*************************************************************************/
.pill-switch .switch-button-sub {
    border-radius: 50px;
    initial-width: 40px;
    initial-height: 20px;
    padding: 0px;
    background-color: #FFFFFF;
    border: 1px solid #ABABAB;
    cursor: pointer;
    filter: drop-shadow(1, 45, #888888, 0.3, 1, 1, 1, 3, true);
}

.pill-switch .switch-button-sub .button {
    border-radius: 50px;
    width: 20px;
    height: 20px;
    filter: none;
}

.pill-switch .switch-button-sub-extra {
    height: 0;
    width: 0;
    background-color: none;
    border: none;
    filter: none;
}

@keyframes switchAnimateSelectedPill {
    0% {
        pos: 0;
        background-color: #FFFFFF;
    }
    100% {
        pos: 100;
        background-color: #98c4e6;
    }
}

.pill-switch .switch-button-sub:selected {
    animation: switchAnimateSelectedPill 0.2s ease 0s 1;
}

.pill-switch .switch-button-sub:unselected {
    animation: switchAnimateSelectedPill 0.2s ease 0s 1 reverse backwards;
}
