/************************************************************************
** HEADER
*************************************************************************/
.header {
    width: auto;
    height: auto;
    spacing: 0;
}

.header .column {
    border-radius: 0;
    icon-position: far-right;
}

.header .sortable {
    icon: "haxeui-core/styles/default/up_down_arrows.png";
    icon-position: far-right;
}

/************************************************************************
** LISTVIEW
*************************************************************************/
.tableview {
    border: 1px solid ${borders.normal.color};
    border-radius: ${borders.normal.radius};
    padding: 1px;
    width: auto;
    height: auto;
    background-color: ${colors.panel.normal};
}

.tableview .tableview-contents {
    spacing: 0;
    width: 100%;
    padding: 0px;
}

.tableview .even {
    background-color: ${colors.alternating.normal.even};
    cursor: pointer;
}

.tableview .odd {
    background-color: ${colors.alternating.normal.odd};
    cursor: pointer;
}

.tableview .compounditemrenderer .itemrenderer {
    height: auto;
    padding: 5px;
}

.tableview .even:hover {
    background-color: ${colors.alternating.hover.even};
}

.tableview .odd:hover {
    background-color: ${colors.alternating.hover.odd};
}

.tableview .compounditemrenderer .label {
    color: ${colors.fore.normal};
}

.tableview .compounditemrenderer:selected {
    background-color: ${colors.selection.normal};
    color: ${colors.fore.selected};
}

.tableview:disabled .compounditemrenderer:selected {
    background-color: ${colors.selection.disabled};
}

.tableview .compounditemrenderer:selected .label {
    color: ${colors.fore.selected};
}
