/************************************************************************
** HEADER
*************************************************************************/
.header {
    width: auto;
    height: auto;
    spacing: 0;
}

.header .column {
    border-radius: 0;
    icon-position: far-right;
}

.header .sortable {
    icon: "haxeui-core/styles/default/up_down_arrows.png";
    icon-position: far-right;
}

/************************************************************************
** LISTVIEW
*************************************************************************/
.tableview {
    border: 1px solid ${panel.border.color};
    border-radius: ${default.border.radius};
    padding: 1px;
    width: auto;
    height: auto;
    background-color: ${panel.background.color};
}

.tableview .tableview-contents {
    spacing: 0;
    width: 100%;
    padding: 0px;
}

.tableview .even {
    background-color: ${alternating.background.color.even};
    cursor: pointer;
}

.tableview .odd {
    background-color: ${alternating.background.color.odd};
    cursor: pointer;
}

.tableview .compounditemrenderer .itemrenderer {
    height: auto;
    padding: 5px;
}

.tableview .even:hover {
    background-color: ${alternating.background.color.hover.even};
}

.tableview .odd:hover {
    background-color: ${alternating.background.color.hover.odd};
}

.tableview .compounditemrenderer .label {
    color: ${default.text.color};
}

.tableview:disabled .compounditemrenderer .label {
    color: ${default.text.disabled.color};
}

.tableview .compounditemrenderer:selected {
    background-color: ${selection.background.color};
    color: ${selection.text.color};
}

.tableview:disabled .compounditemrenderer:selected {
    background-color: ${selection.background.color.disabled};
}

.tableview .compounditemrenderer:selected .label {
    color: ${selection.text.color};
}

.tableview:disabled .compounditemrenderer:selected .label {
    color: ${selection.text.disabled.color};
}
