/************************************************************************
** HEADER
*************************************************************************/
.header {
    width: auto;
    height: auto;
    spacing: 0;
}

.header .column {
    border-radius: 0;
    icon-position: far-right;
    border-left-width: 0;
    text-align: left;
    padding: 6px;
    border-color: $normal-border-color;
}

.header .column.last {
    border-right-width: 0;
}

/*
.header.scrolling .column.last {
    border-right-width: 1px;
}
*/

.column.sortable {
    icon: $arrow-up-down;
    icon-position: far-right;
}

.column.sort-asc {
    icon: $sort-asc;
}

.column.sort-desc {
    icon: $sort-desc;
}

/************************************************************************
** TABLEVIEW
*************************************************************************/
.tableview {
    spacing: 0;
}

.tableview .tableview-contents {
    spacing: 0;
    width: 100%;
    padding: 0px;
}

.tableview .even {
    background-color: $tertiary-background-color;
    cursor: pointer;
}

.tableview .odd {
    background-color: $solid-background-color-alt;
    cursor: pointer;
}

.tableview .compounditemrenderer {
    spacing: 1px;
}

.tableview .compounditemrenderer > .itemrenderer {
    height: auto;
    padding: 6px;
}

.tableview .even:hover {
    background-color: $selection-background-color-hover;
}

.tableview .odd:hover {
    background-color: $selection-background-color-hover;
}

.tableview .compounditemrenderer .label {
    color: $normal-text-color;
}

.tableview:disabled .label {
    color: $disabled-text-color;
}

.tableview .compounditemrenderer:selected {
    background-color: $selection-background-color;
    color: $selection-text-color;
}

.tableview .compounditemrenderer:selected .label {
    color: $selection-text-color;
}
