/************************************************************************
** TABBAR (TOP)
*************************************************************************/
.tabbar {
    padding-left: 0px;
    padding-right: 0px;
    height: auto;
    width: auto;
    border-bottom-width: 1px;
    border-bottom-color: $normal-border-color;
    border-top-width: 0px;
    clip: true;
}

.tabbar > .tabbar-contents {
    border: none;
    border-bottom-width: 1px;
    border-bottom-color: $normal-border-color;
    spacing: 0;
}

.tabbar-button {
    border-radius: 0px;
    background: $solid-background-color-down $solid-background-color-down vertical;
    padding: 7px 8px;
    vertical-align: bottom;
    border-left-width: 0px;
}

.tabbar-button.first {
    border-left-width: 1px;
}

.tabbar-button:hover {
    background: $solid-background-color $solid-background-color vertical;
    border-color: $normal-border-color;
}

.tabbar-button:down {
    border: 1px solid $normal-border-color;
}

.tabbar-button-selected {
    border-radius: 0px;

    border-bottom-width: 1px;
    border-bottom-color: $secondary-background-color;
    background-color: $secondary-background-color;
    border-left-width: 0px;
    
    border-top: 2px solid $accent-color;
}

.tabbar-button-selected.first {
    border-left-width: 1px;
}

.tabbar-button:active {
    border-top: 2px solid $accent-color;
    border-right: 1px solid $normal-border-color;
    border-bottom: 1px solid $normal-border-color;
    border-left-color: $normal-border-color;
}

.tabbar-button-selected:active {
    border-bottom-color: $secondary-background-color;
}

.tabbar-scroll-left {
    icon: $arrow-left;
    border-radius: 0;
    padding: 5px;
}

.tabbar-scroll-right {
    icon: $arrow-right;
    border-radius: 0;
    padding: 5px;
}

.tabbar-button-selected .label {
}

.tabbar-button-selected .icon {
}

.tabbar-button .tab-close-button {
    resource: $close;
    vertical-align: "center";
    cursor: "pointer";
    pointer-events: true;
    padding: 3px;
    border-radius: 2px;
}

.tabbar-button .tab-close-button:hover {
    resource: $close-hover;
    background-color: $selection-background-color;
}

.tabbar .tabbar-button:disabled {
    border-color: $normal-border-color;
}

.tabbar .tabbar-button-selected:disabled {
    border-color: $normal-border-color;
    border-bottom-color: $secondary-background-color;
}

/************************************************************************
** TABBAR (BOTTOM)
*************************************************************************/
.tabbar:bottom {
    padding-left: 0px;
    padding-right: 0px;
    height: auto;
    width: auto;
    border-bottom-width: 0px;
    border-top-width: 1px;
    border-top-color: $normal-border-color;
    clip: true;
}

.tabbar:bottom .tabbar-contents {
    border: none;
    border-bottom-width: 0px;
    border-top-width: 1px;
    border-top-color: $normal-border-color;
    spacing: 0;
}

.tabbar-button:bottom {
    vertical-align: top;
    border-left-width: 0px;
}

.tabbar-button.first {
    border-left-width: 1px;
}

.tabbar-button-selected:bottom {
    border-radius: 0px;

    border: 1px solid $normal-border-color;
    border-top-width: 1px;
    border-top-color: $secondary-background-color;
    background-color: $secondary-background-color;
    border-left-width: 0px;
    
    border-bottom: 2px solid $accent-color;
}

.tabbar:bottom .tabbar-button:active {
    border-bottom: 2px solid $accent-color;
    border-right: 1px solid $normal-border-color;
    border-top: 1px solid $normal-border-color;
    border-left-color: $normal-border-color;
}

.tabbar:bottom .tabbar-button-selected:active {
    border-top-color: $secondary-background-color;
}

.tabbar-button-selected.first {
    border-left-width: 1px;
}

.tabbar:bottom .tabbar-button-selected:disabled {
    border-color: $disabled-border-color;
    border-top-color: $secondary-background-color;
}

/************************************************************************
** TABVIEW
*************************************************************************/
.tabview {
    border: none;
    width: auto;
    height: auto;
}

.tabview > .tabview-tabs {
    margin-top: 1px;
}

.tabview:bottom > .tabview-tabs {
    margin-top: 0px;
}

.tabview > .tabview-content {
    border: $normal-border-size solid $normal-border-color;
    padding: 8px;
    background-color: $secondary-background-color;
}

.tabview-content:disabled {
    border-color: $disabled-border-color;
}

/************************************************************************
** TABVIEW ALT STYLES
*************************************************************************/
.collapsible-labels .tabbar-button .label {
    hidden: true;
}

.collapsible-labels .tabbar-button-selected .label {
    hidden: false;
}

.full-width-buttons .tabbar-button, .full-width-buttons .tabbar > .tabbar-contents {
    width: 100%;
}