/************************************************************************
** TABBAR (TOP)
*************************************************************************/
.tabbar {
    horizontal-spacing: 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
    width: auto;
    background-color: none;
    border-bottom-width: 1px;
    border-bottom-color: ${borders.normal.color};
    border-top-width: 0px;
    clip: true;
}

.tabbar .tabbar-contents {
    border: none;
    border-bottom-width: 1px;
    border-bottom-color: ${borders.normal.color};
}

.tabbar-button {
    border-radius: 0px;
    background: ${colors.flat.normal} ${colors.flat.normal} vertical;
    padding: 6px;
    vertical-align: bottom;
}

.tabbar-button:hover {
    background: ${colors.flat.hover} ${colors.flat.hover} vertical;
}

.tabbar-button:down {
}

.tabbar-button-selected {
    border-radius: 0px;

    border: 1px solid ${borders.normal.color};
    border-bottom-width: 1px;
    border-bottom-color: ${colors.panel.normal};
    background-color: ${colors.panel.normal};
}


.tabbar-scroll-left {
    icon: "haxeui-core/styles/default/left_arrow.png";
    border-radius: 0;
}

.tabbar-scroll-right {
    icon: "haxeui-core/styles/default/right_arrow.png";
    border-radius: 0;
}

.tabbar-button-selected .label {
}

.tabbar-button-selected .icon {
}

.tabbar-button .tab-close-button {
    resource: "haxeui-core/styles/default/tiny-close-button.png";
}
/************************************************************************
** TABBAR (BOTTOM)
*************************************************************************/
.tabbar:bottom {
    horizontal-spacing: 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
    width: auto;
    background-color: none;
    border-bottom-width: 0px;
    border-top-width: 1px;
    border-top-color: ${borders.normal.color};
    clip: true;
}

.tabbar:bottom .tabbar-contents {
    border: none;
    border-bottom-width: 0px;
    border-top-width: 1px;
    border-top-color: ${borders.normal.color};
}

.tabbar-button:bottom {
    vertical-align: top;
}

.tabbar-button-selected:bottom {
    border-radius: 0px;

    border: 1px solid ${borders.normal.color};
    border-top-width: 1px;
    border-top-color: ${colors.panel.normal};
    background-color: ${colors.panel.normal};
}

/************************************************************************
** TABVIEW
*************************************************************************/
.tabview {
    border: none;
    width: auto;
    height: auto;
}

.tabview .tabview-tabs {
}

.tabview .tabview-content {
    border: 1px solid ${borders.normal.color};
    padding: 5px;
    border-radius: 0px;
}
