/************************************************************************
** TEXT FIELD
*************************************************************************/
.textfield {
    background-color: #FFFFFF;
    color: #444444;
    border: 1px solid #ABABAB;
    border-radius: 2px;
    padding: 5px 5px;
    filter: drop-shadow(1, 45, #888888, 0.2, 1, 1, 1, 3, true);
    initial-width: 150px;
    height: auto;
    spacing: 5px;
    icon-position: right;
}

.textfield:active {
    border: 1px solid #216AAE;
}

.textfield:empty {
    color: #A0A0A0;
}

.textfield:disabled {
    color: #909090;
    background: #D4D4D4 #CCCCCC vertical;
}

/************************************************************************
** TEXT AREA
*************************************************************************/
.textarea {
    color: #444444;
    border: 1px solid #ABABAB;
    border-radius: 2px;
    padding: 1px;
    filter: drop-shadow(1, 45, #888888, 0.2, 1, 1, 1, 3, true);
    background-color: white;
    initial-width: 150px;
    initial-height: 100px;
}

.textarea:active {
    border: 1px solid #216AAE;
}

.textarea:empty {
    color: #A0A0A0;
}

.textarea:disabled {
    color: #909090;
    background: #D4D4D4 #CCCCCC vertical;
}