/************************************************************************
** TEXT FIELD
*************************************************************************/
.textfield {
    background: ${inset.gradient.start} ${inset.gradient.start} vertical;
    color: ${inset.text.color};
    border: 1px solid ${inset.border.color};
    border-radius: ${default.border.radius};
    padding: 5px 5px;
    filter: ${inset.filter.shadow};
    initial-width: 150px;
    height: auto;
    spacing: 5px;
    icon-position: right;
}

.textfield:active {
    border: 1px solid #216AAE;
}

.textfield:empty {
    color: ${inset.text.alt.color};
}

.textfield:disabled {
    color: ${inset.text.disabled.color};
    background: ${inset.gradient.disabled.start} ${inset.gradient.disabled.end} vertical;
    border-color: ${inset.border.disabled.color};
}

/************************************************************************
** TEXT AREA
*************************************************************************/
.textarea {
    color: ${inset.text.color};
    border: 1px solid ${inset.border.color};
    border-radius: ${default.border.radius};
    padding: 1px;
    filter: ${inset.filter.shadow};
    background: ${inset.gradient.start} ${inset.gradient.start} vertical;
    initial-width: 150px;
    initial-height: 100px;
}

.textarea:active {
    border: 1px solid #216AAE;
}

.textarea:empty {
    color: ${inset.text.alt.color};
}

.textarea:disabled {
    color: ${inset.text.disabled.color};
    background: ${inset.gradient.disabled.start} ${inset.gradient.disabled.end} vertical;
    border-color: ${inset.border.disabled.color};
}
