/************************************************************************
** TEXT FIELD
*************************************************************************/
.textfield {
    background-color: $tertiary-background-color;
    color: $normal-text-color;
    border: 1px solid $normal-border-color;
    border-radius: 2px;
    padding: 6px 8px;
    filter: $normal-inner-shadow;
    initial-width: 150px;
    height: auto;
    spacing: 5px;
    icon-position: right;
    content-type: auto;
}

.textfield.required-value {
    background-color: $warning-background-color-start;
    border-color: $warning-border-color;
}

.textfield.invalid-value {
    background-color: $error-background-color-start;
    border-color: $error-border-color;
}

.textfield.valid-value {
    background-color: $success-background-color-start;
    border-color: $success-border-color;
}

.textfield:active {
    border: 1px solid $accent-color;
}

.textfield:empty {
    color: $lighter-text-color;
}

.textfield.no-border {
    border: none;
}

.textfield:disabled {
    border-color: $disabled-border-color;
    color: $disabled-text-color;
}

.textfield .decorator {
    padding: 0px 8px;
    background: $normal-background-color-start $normal-background-color-end vertical;
    border-radius: $normal-border-radius;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: $normal-border-size solid $normal-border-color;
    include-in-layout: false;
}

.textfield .decorator .image {
    vertical-align:center;
    margin-top: -1px;
}

/************************************************************************
** TEXT AREA
*************************************************************************/
.textarea {
    color: $normal-text-color;
    border: 1px solid $normal-border-color;
    border-radius: 2px;
    padding: 2px 5px;
    padding-bottom: 4px;
    filter: $normal-inner-shadow;
    background-color: $tertiary-background-color;
    initial-width: 150px;
    initial-height: 100px;
    content-type: auto;
    icon-position: right;
    spacing: 5px;
}

.textarea.required-value {
    background-color: $warning-background-color-start;
    border-color: $warning-border-color;
}

.textarea.invalid-value {
    background-color: $error-background-color-start;
    border-color: $error-border-color;
}

.textarea.valid-value {
    background-color: $success-background-color-start;
    border-color: $success-border-color;
}

.textarea:active {
    border: 1px solid $accent-color;
}

.textarea:empty {
    color: $lighter-text-color;
}

.textarea:disabled {
    border-color: $disabled-border-color;
    color: $disabled-text-color;
}

.textarea .decorator {
    padding: 0px 8px;
    background: $normal-background-color-start $normal-background-color-end vertical;
    border-radius: $normal-border-radius;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: $normal-border-size solid $normal-border-color;
    include-in-layout: false;
}

.textarea .decorator .image {
    vertical-align:center;
    margin-top: -1px;
}
