/************************************************************************
** TEXT FIELD
*************************************************************************/
.textfield {
    background-color: ${colors.panel.inset};
    color: ${colors.fore.lighter};
    border: 1px solid ${borders.normal.color};
    border-radius: ${borders.normal.radius};
    padding: 5px 5px;
    filter: ${filters.shadow.inset};
    initial-width: 150px;
    height: auto;
    spacing: 5px;
    icon-position: right;
}

.textfield:active {
    border: 1px solid #216AAE;
}

.textfield:empty {
    color: ${colors.fore.lightest};
}

.textfield:disabled {
    color: ${colors.fore.disabled};
    background: ${colors.gradient.inset.disabled.start} ${colors.gradient.inset.disabled.end} vertical;
    border-color: ${borders.disabled.color};
}

/************************************************************************
** TEXT AREA
*************************************************************************/
.textarea {
    color: ${colors.fore.lighter};
    border: 1px solid ${borders.normal.color};
    border-radius: ${borders.normal.radius};
    padding: 1px;
    filter: ${filters.shadow.inset};
    background-color: ${colors.panel.inset};
    initial-width: 150px;
    initial-height: 100px;
}

.textarea:active {
    border: 1px solid #216AAE;
}

.textarea:empty {
    color: ${colors.fore.lightest};
}

.textarea:disabled {
    color: ${colors.fore.disabled};
    background: ${colors.gradient.inset.disabled.start} ${colors.gradient.inset.disabled.end} vertical;
    border-color: ${borders.disabled.color};
}
