<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>::name::</title>
    <meta name="description" content="" />

        <style>
            * {
                box-sizing: border-box;
            }

            html {
                margin: 0;
                width: 100%;
                height: 100%;
            }

            body {
                font-family: 'Arial';
                font-size: 13px;
                margin: 0;
                width: 100%;
                height: 100%;
            }
        </style>


</head>
<body>

    <script src="::output::.js"></script>
</body>
</html>
