* {
	native: true;
}

.hslider, .vslider, .hprogress, .vprogress {
    width: auto;
    height: auto;
    background: none;
    border: none;
    border-radius: none;
}

.button {
    background: none;
    border: none;
    border-radius: none;
    color: none;
}

.textfield {
    background: none;
    border: none;
    border-radius: none;
    color: none;
    filter: none;
}

/*
.button {
    background: none;
    border: none;
    border-radius: none;
    color: none;
}

.hprogress, .vprogress, .hslider, .vslider {
    background: none;
    border: none;
    border-radius: none;
}

.tabbar-button {
	border-radius: 0px;
	background: #EDEDED #E6E6E6;
	color: #222222;
	border: 1px solid #ABABAB;
	border-radius: 2px;
	padding: 5px 10px;
	cursor: pointer;
	width: auto;
	height: auto;
	spacing: 5px 5px;
}

.tabbar-button:down {
	border: 1px solid #ABABAB;
}

.tabbar-button-selected, .tabbar-button-selected:hover, .tabbar-button-selected:down {
	border-radius: 0px;
	background-color: white;
	border: 1px solid #ABABAB;
}
*/


.dialog {
    padding-top: 0px !important;
}